{% extends "blog/base.html" %}
{% block content %}
<div class="jumbotron">
    <h2>Please Login</h2>
    {% if form.errors %}
    <h2>Your username and password does match .Please enter correct data</h2>
    {% else %}
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <p>Need a django superuser account </p>
        {{ form.as_p }}
        <input type="submit" class="btn btn-info" value="Submit">
        <input type="hidden" name="next" value="{{next}}">
    </form>
    {% endif %}
</div>

{% endblock content %}