<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <!-- CUSTOM CSS -->
   <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Bitter|Playfair+Display" rel="stylesheet">
     <!-- font awesome -->
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

</head>
<body>
    <nav class="navbar mynav">
     
        <ul class="nav">
            <li><a class="navbar-brand bigbrand" href="{% url 'post_list' %}"><i class="fa fa-h-square"></i></a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>

        {% if user.is_authenticated %}
        <ul class="nav">
            <li ><a href="{% url 'post_new'%}">Create Post</a></li>
            <li ><a href="{% url 'post_draft_list'%}">My drafts</a></li>
            <li ><a href="{% url 'logout'%}">Log Out</a></li>
            <li >Welcome {{user.username}}</li>
        {% else %}  
            <li ><a href="{% url 'login'%}">Login <i class="fas fa-user-circle"></i></a></li>
        </ul>
        {% endif %}   
    </nav>

    <div class="content container" align="center">
            <div class="row">
                <div class="col-md-12">
                  <div class="blog_posts">
                    {% block content %}
                    {% endblock %}

                  </div>

                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        
</body>
</html>