{% extends "blog/base.html" %}
{% block content %}
<div class="center">
    {% for post in post_list %}
    <div class="post">
        {% if post.published_date %}
        <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
        <div class="date">
            <p>Published on : {{post.published_date|date:"D M Y"}}</p>
            <p>{{ post.text|truncatechars:200 }}</p>
        </div> 
        <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{post.approved_comments.count}}</a>
        {% endif %}
    </div>
    
    {% endfor %}

</div>

{% endblock content %}