body{
    font-family: 'Playfair Display', serif;
}
li{
    margin-left: 5px;
    margin-right: 5px;
    list-style: none;
    font-family: 'bitter';
    font-size: 1.5em;
}
h1{
    font-family: 'bitter';
}
.bigbrand{
    font-size: 3em;
    margin-right:40px;
}